/*Global*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 118px 0;
}

.subheader {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 17px 0;
}

.subtext {
  font-family: "Libre Baskerville", serif;
  color: #777777;
  font-size: 16px;
  font-style: italic;
  letter-spacing: normal;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0 0 54px 0;
}

.miniheader {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.minitext {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  color: #737373;
  margin: 4px 0 0 0;
  padding: 0;
}

/*Splash*/
/*Nav*/
.navigation {
  max-width: 933px;
  max-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.splash ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 2;
}

.splash li {
  display: inline-block;
}

.splash li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 0 40px 0 0;
  color: #ffffff;
}

.splash li .last {
  padding-right: 0;
}

.splash .brand {
  color: #fed136;
  font-family: "Libre Baskerville", serif;
  font-size: 26px;
  font-weight: 400;
  z-index: 1;
}

.splash {
  width: 100vw;
  min-height: 700px;
  background-image: url("../img/Background_Image.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.splash::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
}

.btn {
  background-color: #fed136;
  color: white;
  border-radius: 2px;
  font-weight: 700;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  min-width: 240px;
  min-height: 65px;
  line-height: 65px;
  text-align: center;
}

/*Header*/
.header {
  text-align: center;
  position: relative;
  top: 157px;
  z-index: 1;
}

.header .title {
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  letter-spacing: -1px;
  line-height: normal;
  position: relative;
  top: 15px;
}

.header .subtitle {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0;
  margin-bottom: 5px;
  position: relative;
  bottom: 30px;
}

/*Services*/
.services-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 934px;
  margin: 0 auto;
}

.mini {
  text-align: center;
  width: 277px;
  padding: 0 0 0 0;
}

.mini p {
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.35px;
  margin: 0 0 0 0;
  text-align: center;
}

.mini .miniheader {
  margin-bottom: 16px;
  margin-top: 20px;
}

.mini i {
  font-size: 35px;
  text-align: center;
  color: #fed136;
}

.service-icon-wrapper {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 3px solid #fed136;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
}

/*Portfolio*/
.portfolio-wrapper {
  display: -ms-flexbox;
  display: flex;
  max-width: 922px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio-mini {
  width: 291px;
  -ms-flex: 0 0 33, 33%;
      flex: 0 0 33, 33%;
}

.portfolio-mini .text {
  padding: 26px 0 26px 0;
  margin: 0;
  text-align: center;
}

.portfolio-mini img {
  margin: 0;
  padding: 0;
}

/*Footer*/
footer .container {
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 95px;
}

.footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  max-width: 565px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

footer p {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 600;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

footer li {
  display: inline-block;
  margin-right: 7px;
}

footer li:last-child {
  margin-right: 0;
}

footer a {
  text-decoration: none;
}

.footer-icon-wrapper {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #222222;
  border-radius: 50%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon-wrapper i {
  color: white;
  font-size: 18px;
}

/*Media queries*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .services-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .portfolio-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .footer-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 auto;
  }
  footer .container {
    padding-left: 0;
  }
  .navigation {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .services-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .portfolio-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .footer-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  footer .container {
    padding-left: 0;
  }
  .header .title {
    font-size: 30px;
  }
  .header .subtitle {
    font-size: 65px;
  }
}
/*# sourceMappingURL=style.css.map */