/*Global*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

$font-text: "Roboto Slab", serif;
$font-header: "Montserrat", sans-serif;
$font-italic: "Libre Baskerville", serif;

/*Splash*/

/*Nav*/

.navigation {
  max-width: 933px;
  max-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 41px;
  
}
.splash ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 2;
}

.splash li {
  display: inline-block;
}

.splash li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-header;
  padding: 0 40px 0 0;
  color: #ffffff;
}


.splash li .last {
  padding-right: 0;
}
.splash .brand {
  color: #fed136;
  font-family: $font-italic;
  font-size: 26px;
  font-weight: 400;
  z-index: 1;
}
.splash {
  width: 100vw;
  min-height: 700px;
  border: 5px solid blue;
  background-image: url("../img/Background_Image.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.splash::after {
  content:"";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
}
.btn {
  background-color: #fed136;
  color: white;
  border-radius: 2px;
  font-weight: 700;
  display: inline-block;
  font-family: $font-header;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  min-width: 240px;
  min-height: 65px;
  line-height: 65px;
  text-align: center;
}

/*Header*/

.header {
  text-align: center;
  position: relative;
  top: 157px;
  z-index: 1;
}

.header .title {
  font-size: 40px;
  font-family: $font-italic;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  letter-spacing: -1px;
  line-height: normal;
  position: relative;
  top: 15px;
}

.header .subtitle {
  font-family: $font-header;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0;
  margin-bottom: 5px;
  position: relative;
  bottom: 30px;
}
